[project]
name = "build-a-multimodal-rag-system-for-document-and-image-analysis"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []
